/* GENERALES ============================================= */
* {
  padding: 0;
  margin: 0;
}
h1 {
  margin: 0;
}
ul {
  padding: 0;
  display: flex;
}
li {
  list-style: none;
}
a {
  color: orangered;
  text-decoration: none;
}
header,
footer {
  color: white;
  background-color: #443434;
}
/* Page margins */
nav,
main,
footer {
  padding: 0 3rem;
}
.mg-left {
  margin-left: 3rem;
  width: 43.5%;
}
.phone-displayer {
  display: none;
}
/* NAV ==================================================== */
nav {
  display: flex;
  align-items: baseline;
  margin-right: 0.5rem;
  padding-top: -1rem;
  padding-bottom: -0.5rem;
}
nav a {
  color: white;
  padding: 1rem 1.5rem;
  border: #251c1c 0.5px solid;
}
.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo img {
  width: 30px;
  height: 30px;
  margin-left: 0.5rem;
}

/* PRODUCT NAVIGATION ====================================== */
.mg-left li {
  padding: 1rem;
  border: #251c1c 0.5px solid;
}
.mg-left li:hover {
  background-color: orangered;
  border-bottom: none;
}
.mg-left:hover + .product-nav {
  display: block;
}
.product-nav:hover {
  display: block;
}
.product-nav {
  padding: 1rem 3rem;
  margin-bottom: -1rem;
  display: none;
  border-top: 0.5rem solid orangered;
  background-color: #e9e6e1;
  color: black;
}
.link-wrapper {
  display: flex;
  justify-content: space-between;
}
.product-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-nav-list li {
  flex-basis: 200px;
  /* flex-grow: 1; */
  margin: 1rem;
}
li img {
  width: 100%;
}

/* MAIN START ============================================== */
main {
  padding-top: 1rem;
  display: flex;
  background-color: #faf7f2;
}
main a {
  margin: 1rem 0;
}
.rebel-link {
  margin-left: 1rem;
}
aside section,
.order,
article {
  border: solid 0.5px;
  margin: 1rem 0.5rem 0.5rem 0;
  padding: 0.5rem;
  background-color: white;
}

/* CATEGORIES ============================================== */
aside {
  flex-basis: 100rem;
  font-size: 1.2rem;
  background-color: #faf7f2;
}

/* PRODUCT DISPLAY ========================================= */
main > section {
  flex-grow: 1;
}
.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100% - 15rem);
}
article {
  flex-basis: 300px;
  flex-grow: 1;
  margin-left: 1rem;
}
.order {
  margin-left: 1rem;
  margin-top: 1.25rem;
}
article img {
  width: 80%;
  display: block;
  margin: auto;
}

.pagination {
  margin: 2rem 1rem;
  height: 2rem;
}
button {
  padding: 0.75rem;
}
.btn-selected {
  background-color: orange;
}
.buy {
  padding: 0.2rem 1.5rem 0.4rem;
  margin: 0 2rem 0 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0.5px -0.5px 2px #000;

  color: white;
  background-color: orangered;

  font-size: 1.3rem;
  font-weight: bold;
}
article p {
  display: inline-block;
  margin: 0.5rem;
}
strong {
  font-size: 1.4rem;
}
/* MAIN END =============================================== */
/* FOOTER ================================================= */
footer {
  min-height: max-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
footer a {
  color: white;
  margin: 0.5rem;
}
.media {
  display: flex;
}
footer img {
  width: 30px;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
}

/* PHONE ================================================= */

@media (max-width: 650px) {
  main {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
  .phone-displayer {
    display: block;
    position: absolute;
    top: 170px;
    left: 4rem;
    border: #443434 0.5px solid;
    color: #443434;
    padding: 0.2rem;
    z-index: 0;
  }
  aside {
    position: absolute;
    top: 165px;
    width: 300px;
    transform: translateX(-200%);
  }
  aside section {
    width: 200px;
  }
  .phone-displayer:hover + aside {
    transform: translateX(0%);
    width: 100%;
  }
  aside:hover {
    transform: translateX(0%);
    width: 100%;
  }

  nav,
  .mg-left {
    min-height: 155px;
    flex-direction: column;
    align-items: center;
  }
  nav a {
    display: none;
  }
  nav:hover a {
    display: block;
    margin-bottom: 1rem;
  }
  .logo {
    width: 100%;
    margin: 1rem;
    justify-content: center;
  }
  .displayer {
    display: none;
  }
  .mg-left {
    margin: 0 auto;
    width: min-content;
  }
  .mg-left li {
    margin-bottom: 1rem;
  }
  nav:hover + .displayer {
    display: block;
  }
  .displayer:hover {
    display: block;
  }
}
